<!-- intro banner on list pages -->
<div class = 'intro'>
  <div class = 'intro_inner'>
    {{/*  <div>{{ partial "audio" . }}</div>  */}}
    <section>
      <h1 class = 'intro_headline'>Intro paragraph</h1>
      <p class = 'intro_desc'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus labore maxime voluptate praesentium. Iure quae, aperiam repellat non commodi vel a atque. Ipsa vel perspiciatis ad! Dolorum facere sunt accusantium? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem quia aut asperiores velit dolore facilis ipsam reiciendis eligendi beatae ex, voluptate voluptatum neque reprehenderit. Eum alias voluptatem delectus praesentium fugiat!</p>
      <br>
      <p class = 'intro_desc'>Navigate to each state's dashboard below to explore further!</p>
    </section>
  </div>
</div>
